body  {
    font-family: arial, Helvetica, helvetica Neue, sans-serif;
    background: #777;
    font-size: 18px;
    text-align: center;

}

header  {
    background: #ebebeb;
    color: #777;
    padding: 20px;
    margin-bottom: 10px;
}

nav  {
    background: #ebebeb;
    color: #777;
    padding: 20px;
    margin-bottom: 20px;
}

section  {
    background: #ebebeb;
    color: #777;
    width: 495px;
    float: left;
    
}

article {
    color: #ebebeb;
    background: #777;
    margin: 4%;
    padding: 10px;

}

h3 {
    color: #777;
    background: #ebebeb;
    margin: 10px;
}

p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
}

aside  {
    background: #ebebeb;
    color: #777;
    margin-left: 520px;
    height: 177px;
    width: 995px;

}

footer  {
    clear: both;
    background: #ebebeb;
    color: #777;
    margin-top: 20px;
    padding: 20px;

}