body  {
    font-family: arial, Helvetica, helvetica, sans-serif;
    background: #777;
    font-size: 18px;
    text-align: center;

}

header  {
    background-color: white;
    color: #777;
    padding: 20px;
    margin-bottom: 10px;
    width: 495px;
}

nav  {
    background-color: white;
    color: #777;
    padding: 20px;
    margin-bottom: 20px;
    width: 495px;
}

section  {
    background: white;
    color: #777;
    width: 495px;
    float: left;

}

article {
    color: white;
    background: #777;
    margin: 4%;
    padding: 10px;

}

h3 {
    color: #777;
    background: white;
    margin: 10px;
}

p {
    color: #777;
    background: white;
    margin: 10px;
}

aside  {
    background: white;
    color: #777;
    margin-left: 20px;


}

footer  {
    clear: both;
    background: white;
    color: #777;
    margin-top: 175px;
    width: 495px;

}